@model JCVL20250319.AppWebMVC.Models.User

@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="container mt-4">
        <h1 class="bg-secondary text-white text-center ">Editar Usuario</h1>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="UserId" />

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="Username" class="form-label fw-bold"></label>
                        <input asp-for="Username" class="form-control" placeholder="Ingrese el usuario" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Email" class="form-label fw-bold"></label>
                        <input asp-for="Email" class="form-control" placeholder="Correo electrónico" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="PasswordHash" class="form-label fw-bold"></label>
                        <input asp-for="PasswordHash" type="password" class="form-control" placeholder="Nueva contraseña" />
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Role" class="form-label fw-bold"></label>
                        <select asp-for="Role" class="form-select">
                            <option value="">Seleccione un rol</option>
                            <option value="ADMINISTRADOR">Administrador</option>
                            <option value="GERENTE">Gerente</option>
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6 d-grid">
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                    </div>
                    <div class="col-md-6 d-grid">
                        <a asp-action="Index" class="btn btn-outline-warning">Regresar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
